In [1]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv ("/Users/mohadeseh/Documents/me/session8/data_mining/FDM_Project_dataset-99-2/divar_dataset/divar_posts_dataset.csv")
df

,Unnamed: 0,archive_by_user,brand,cat1,cat2,cat3,city,created_at,desc,id,image_count,mileage,platform,price,title,type,year
0,0,False,NaN,for-the-home,furniture-and-home-decore,sofa-armchair,Tehran,Tuesday 07PM,کلاسیک و شیک و استثنایی\nچرم مالزی\nچوب راش\nف...,54761638662241,5,NaN,mobile,3850000,ست مبلمان و نهارخوری ٩ نفره,NaN,NaN
1,1,False,NaN,for-the-home,furniture-and-home-decore,antiques-and-art,Mashhad,Tuesday 07PM,"سلام,یک عدد گلدون نخل سه طبقه ی سالم دارم با پ...",42727631379133,1,NaN,mobile,30000,گلدون مصنوعی نخل,NaN,NaN
2,2,False,NaN,vehicles,cars,heavy,Mashhad,Tuesday 07PM,سریال 43j$NUMبدون شکستگی سه حلقه لاستیک نو یک ...,63194439667302,4,NaN,mobile,-1,لودر کاتر پیلار 950,NaN,NaN
3,3,False,NaN,for-the-home,furniture-and-home-decore,sofa-armchair,Tehran,Tuesday 07PM,مبل راحتی هفت نفره شامل سه نفره یک عدد دونفره ...,19133025491169,4,NaN,mobile,600000,مبل راحتی هفت نفره بامیز جلو مبلی,NaN,NaN
4,4,False,NaN,personal,baby-and-toys,personal-toys,Karaj,Tuesday 08PM,شارژی کنترلی سویچ حمل تا 35 کیلو صندلی برای دو...,58998998335444,2,NaN,mobile,450000,ماشین شارژی,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947630,947630,True,NaN,for-the-home,building-and-garden,stove-and-heating,Shiraz,Friday 07AM,دوعدد یکی یک متری و دیگری 1.4 متری موجود است\n...,16127180351093,1,NaN,web,180000,رادیاتور پنلی نو ترک,NaN,NaN
947631,947631,True,NaN,electronic-devices,audio-video,camera-camcoders,Tehran,Friday 02PM,دوربین هندی کم کنون مدل لگریا fs36\n\nعکاسی و ...,29805298491725,1,NaN,mobile,350000,دوربین هندی کم کنون,NaN,NaN
947632,947632,True,پراید صندوق‌دار::Pride,vehicles,cars,light,Shiraz,Friday 04PM,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,55514317985619,3,43000.0,mobile,17400000,پراید دوگانه کارخانه مدل93,NaN,1393
947633,947633,True,NaN,electronic-devices,mobile-tablet,mobile-tablet-accessories,Mashhad,Friday 05PM,مونو پد یانگ تد همراه با پایه و اینه عقبش\nواس...,65938921533442,1,NaN,mobile,40000,مونوپد یانگ تد خیلی تمیز و نو,NaN,NaN
947634,947634,True,NaN,personal,jewelry-and-watches,watches,Shiraz,Friday 05PM,جواب فقط تماس و. وات ساپ,18312774360687,1,NaN,mobile,25000,ساعت مارک,NaN,NaN

# first method

In [3]:
df_records_without_null = df.dropna()
df_null_percentage_first_method = (df_records_without_null.shape[0]/df.shape[0])*100
df_null_percentage_first_method

0.0

# second method

In [26]:
df_recods_price_city = df.loc[:,['title','brand','cat1','mileage','city','price']]
df_recods_price_city

,title,brand,cat1,mileage,city,price
0,ست مبلمان و نهارخوری ٩ نفره,NaN,for-the-home,NaN,Tehran,3850000
1,گلدون مصنوعی نخل,NaN,for-the-home,NaN,Mashhad,30000
2,لودر کاتر پیلار 950,NaN,vehicles,NaN,Mashhad,-1
3,مبل راحتی هفت نفره بامیز جلو مبلی,NaN,for-the-home,NaN,Tehran,600000
4,ماشین شارژی,NaN,personal,NaN,Karaj,450000
...,...,...,...,...,...,...
947630,رادیاتور پنلی نو ترک,NaN,for-the-home,NaN,Shiraz,180000
947631,دوربین هندی کم کنون,NaN,electronic-devices,NaN,Tehran,350000
947632,پراید دوگانه کارخانه مدل93,پراید صندوق‌دار::Pride,vehicles,43000.0,Shiraz,17400000
947633,مونوپد یانگ تد خیلی تمیز و نو,NaN,electronic-devices,NaN,Mashhad,40000
947634,ساعت مارک,NaN,personal,NaN,Shiraz,25000

In [28]:
df_recods_price_city_mileage_withoutnull = df_recods_price_city.dropna()
df_recods_price_city_mileage_method2 = (df_recods_price_city_mileage_withoutnull.shape[0]/df_recods_price_city.shape[0])*100
df_recods_price_city_mileage_method2

12.710695573717729

# third method

In [21]:
df_field_containing_values = df.notnull().sum().sum()
df_all_datas = df.shape[0] * df.shape[1]
df_att_containing_values_third_method = (df_field_containing_values / df_all_datas)*100
df_att_containing_values_third_method

78.68185783866275