In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [15]:
df = pd.read_csv ("/Users/mohadeseh/Documents/me/session8/data_mining/FDM_Project_dataset-99-2/divar_dataset/divar_posts_dataset.csv")

In [16]:
df.head()

,Unnamed: 0,archive_by_user,brand,cat1,cat2,cat3,city,created_at,desc,id,image_count,mileage,platform,price,title,type,year
0,0,False,NaN,for-the-home,furniture-and-home-decore,sofa-armchair,Tehran,Tuesday 07PM,کلاسیک و شیک و استثنایی\nچرم مالزی\nچوب راش\nف...,54761638662241,5,NaN,mobile,3850000,ست مبلمان و نهارخوری ٩ نفره,NaN,NaN
1,1,False,NaN,for-the-home,furniture-and-home-decore,antiques-and-art,Mashhad,Tuesday 07PM,"سلام,یک عدد گلدون نخل سه طبقه ی سالم دارم با پ...",42727631379133,1,NaN,mobile,30000,گلدون مصنوعی نخل,NaN,NaN
2,2,False,NaN,vehicles,cars,heavy,Mashhad,Tuesday 07PM,سریال 43j$NUMبدون شکستگی سه حلقه لاستیک نو یک ...,63194439667302,4,NaN,mobile,-1,لودر کاتر پیلار 950,NaN,NaN
3,3,False,NaN,for-the-home,furniture-and-home-decore,sofa-armchair,Tehran,Tuesday 07PM,مبل راحتی هفت نفره شامل سه نفره یک عدد دونفره ...,19133025491169,4,NaN,mobile,600000,مبل راحتی هفت نفره بامیز جلو مبلی,NaN,NaN
4,4,False,NaN,personal,baby-and-toys,personal-toys,Karaj,Tuesday 08PM,شارژی کنترلی سویچ حمل تا 35 کیلو صندلی برای دو...,58998998335444,2,NaN,mobile,450000,ماشین شارژی,NaN,NaN

In [17]:
print(df['archive_by_user'].value_counts())

True     491483
False    456152
Name: archive_by_user, dtype: int64

In [18]:
df['archive_by_user'].isnull().sum()

0

In [19]:
df['brand'].isnull().sum()

756743

In [20]:
df['brand'] = df['brand'].fillna('unknown')

In [21]:
df['brand'].isnull().sum()

0

In [22]:
df['cat1'].isnull().sum()

0

In [23]:
df['cat2'].isnull().sum()

1758

In [24]:
df['cat2'] = df['cat2'].fillna('unknown')

In [25]:
df['cat3'].isnull().sum()

172334

In [26]:
df['cat3'] = df['cat3'].fillna('unknown')

In [27]:
df['city'].isnull().sum()

0

In [85]:
df['created_at'].isnull().sum()

0

In [86]:
df['desc'].isnull().sum()

0

In [87]:
df['id'].isnull().sum()

0

In [88]:
df['image_count'].isnull().sum()

0

In [62]:
df['mileage'].isnull().sum()

827184

In [89]:
df['mileage'] = df['mileage'].fillna(df['mileage'].mean())

In [90]:
df['mileage'].isnull().sum()

0

In [91]:
df['platform'].isnull().sum()

0

In [92]:
df['price'].isnull().sum()

0

In [93]:
df['title'].isnull().sum()

0

In [94]:
df['type'].isnull().sum()

849106

In [95]:
df['type'] = df['type'].fillna('unknown')

In [96]:
df['year'].isnull().sum()

827184

In [28]:
df['year'] = df['year'].fillna(1392)