In [1]:
pip install efficient-apriori

Collecting efficient-apriori
  Downloading https://files.pythonhosted.org/packages/20/5b/a93622c9cc91fc4fb5c29bfeb8689ec4bf1e2b3d0f3579f34975051e6716/efficient_apriori-2.0.1-py3-none-any.whl
Installing collected packages: efficient-apriori
Successfully installed efficient-apriori-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pyfpgrowth

Collecting pyfpgrowth
  Using cached https://files.pythonhosted.org/packages/d2/4c/8b7cd90b4118ff0286d6584909b99e1ca5642bdc9072fa5a8dd361c864a0/pyfpgrowth-1.0.tar.gz
Building wheels for collected packages: pyfpgrowth
  Building wheel for pyfpgrowth (setup.py) ... done
  Stored in directory: /Users/mohadeseh/Library/Caches/pip/wheels/3b/3f/0d/a04bb8b17887c1eca7d0f1a48d4aa0c09c96eb221ff7fa56c1
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pyfpgrowth
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
from efficient_apriori import apriori

In [9]:
orders = pd.read_csv("/Users/mohadeseh/Documents/me/AllTaskOfLessons/session8/data_mining/FDM_Project_dataset-99-2/digikala_dataset/orders.csv")
orders

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982.0,محمود آباد,1.0
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000.0,خرمدره,1.0
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358.0,قرچک,1.0
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514.0,قم,1.0
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028.0,تهران,1.0
...,...,...,...,...,...,...,...
199995,12172771,4403268,445940,2018-04-03 12:07:01.000,344037.0,تهران,2.0
199996,4425393,3745774,131645,2016-07-09 19:14:09.000,600000.0,محمدیه,1.0
199997,6671889,4845514,215045,2017-03-08 23:47:06.000,450000.0,اصفهان,1.0
199998,6315995,2541418,264021,2017-02-08 14:59:39.000,193486.0,همدان,1.0
199999,7584127,1342585,89427,2017-06-17 10:08:06.000,55046.0,بندر انزلی,1.0

In [16]:
df = pd.read_csv ("/Users/mohadeseh/Documents/me/AllTaskOfLessons/session8/data_mining/FDM_Project_dataset-99-2/divar_dataset/divar_posts_dataset.csv") 
df

,Unnamed: 0,archive_by_user,brand,cat1,cat2,cat3,city,created_at,desc,id,image_count,mileage,platform,price,title,type,year
0,0,False,NaN,for-the-home,furniture-and-home-decore,sofa-armchair,Tehran,Tuesday 07PM,کلاسیک و شیک و استثنایی\nچرم مالزی\nچوب راش\nف...,54761638662241,5,NaN,mobile,3850000,ست مبلمان و نهارخوری ٩ نفره,NaN,NaN
1,1,False,NaN,for-the-home,furniture-and-home-decore,antiques-and-art,Mashhad,Tuesday 07PM,"سلام,یک عدد گلدون نخل سه طبقه ی سالم دارم با پ...",42727631379133,1,NaN,mobile,30000,گلدون مصنوعی نخل,NaN,NaN
2,2,False,NaN,vehicles,cars,heavy,Mashhad,Tuesday 07PM,سریال 43j$NUMبدون شکستگی سه حلقه لاستیک نو یک ...,63194439667302,4,NaN,mobile,-1,لودر کاتر پیلار 950,NaN,NaN
3,3,False,NaN,for-the-home,furniture-and-home-decore,sofa-armchair,Tehran,Tuesday 07PM,مبل راحتی هفت نفره شامل سه نفره یک عدد دونفره ...,19133025491169,4,NaN,mobile,600000,مبل راحتی هفت نفره بامیز جلو مبلی,NaN,NaN
4,4,False,NaN,personal,baby-and-toys,personal-toys,Karaj,Tuesday 08PM,شارژی کنترلی سویچ حمل تا 35 کیلو صندلی برای دو...,58998998335444,2,NaN,mobile,450000,ماشین شارژی,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947630,947630,True,NaN,for-the-home,building-and-garden,stove-and-heating,Shiraz,Friday 07AM,دوعدد یکی یک متری و دیگری 1.4 متری موجود است\n...,16127180351093,1,NaN,web,180000,رادیاتور پنلی نو ترک,NaN,NaN
947631,947631,True,NaN,electronic-devices,audio-video,camera-camcoders,Tehran,Friday 02PM,دوربین هندی کم کنون مدل لگریا fs36\n\nعکاسی و ...,29805298491725,1,NaN,mobile,350000,دوربین هندی کم کنون,NaN,NaN
947632,947632,True,پراید صندوق‌دار::Pride,vehicles,cars,light,Shiraz,Friday 04PM,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,55514317985619,3,43000.0,mobile,17400000,پراید دوگانه کارخانه مدل93,NaN,1393
947633,947633,True,NaN,electronic-devices,mobile-tablet,mobile-tablet-accessories,Mashhad,Friday 05PM,مونو پد یانگ تد همراه با پایه و اینه عقبش\nواس...,65938921533442,1,NaN,mobile,40000,مونوپد یانگ تد خیلی تمیز و نو,NaN,NaN
947634,947634,True,NaN,personal,jewelry-and-watches,watches,Shiraz,Friday 05PM,جواب فقط تماس و. وات ساپ,18312774360687,1,NaN,mobile,25000,ساعت مارک,NaN,NaN

In [17]:
df.tail()

,Unnamed: 0,archive_by_user,brand,cat1,cat2,cat3,city,created_at,desc,id,image_count,mileage,platform,price,title,type,year
947630,947630,True,NaN,for-the-home,building-and-garden,stove-and-heating,Shiraz,Friday 07AM,دوعدد یکی یک متری و دیگری 1.4 متری موجود است\n...,16127180351093,1,NaN,web,180000,رادیاتور پنلی نو ترک,NaN,NaN
947631,947631,True,NaN,electronic-devices,audio-video,camera-camcoders,Tehran,Friday 02PM,دوربین هندی کم کنون مدل لگریا fs36\n\nعکاسی و ...,29805298491725,1,NaN,mobile,350000,دوربین هندی کم کنون,NaN,NaN
947632,947632,True,پراید صندوق‌دار::Pride,vehicles,cars,light,Shiraz,Friday 04PM,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,55514317985619,3,43000.0,mobile,17400000,پراید دوگانه کارخانه مدل93,NaN,1393
947633,947633,True,NaN,electronic-devices,mobile-tablet,mobile-tablet-accessories,Mashhad,Friday 05PM,مونو پد یانگ تد همراه با پایه و اینه عقبش\nواس...,65938921533442,1,NaN,mobile,40000,مونوپد یانگ تد خیلی تمیز و نو,NaN,NaN
947634,947634,True,NaN,personal,jewelry-and-watches,watches,Shiraz,Friday 05PM,جواب فقط تماس و. وات ساپ,18312774360687,1,NaN,mobile,25000,ساعت مارک,NaN,NaN

In [18]:
df[['day','houre']] = df.created_at.str.split(" ",expand=True,)
del df["created_at"]
df.tail()

,Unnamed: 0,archive_by_user,brand,cat1,cat2,cat3,city,desc,id,image_count,mileage,platform,price,title,type,year,day,houre
947630,947630,True,NaN,for-the-home,building-and-garden,stove-and-heating,Shiraz,دوعدد یکی یک متری و دیگری 1.4 متری موجود است\n...,16127180351093,1,NaN,web,180000,رادیاتور پنلی نو ترک,NaN,NaN,Friday,07AM
947631,947631,True,NaN,electronic-devices,audio-video,camera-camcoders,Tehran,دوربین هندی کم کنون مدل لگریا fs36\n\nعکاسی و ...,29805298491725,1,NaN,mobile,350000,دوربین هندی کم کنون,NaN,NaN,Friday,02PM
947632,947632,True,پراید صندوق‌دار::Pride,vehicles,cars,light,Shiraz,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,55514317985619,3,43000.0,mobile,17400000,پراید دوگانه کارخانه مدل93,NaN,1393,Friday,04PM
947633,947633,True,NaN,electronic-devices,mobile-tablet,mobile-tablet-accessories,Mashhad,مونو پد یانگ تد همراه با پایه و اینه عقبش\nواس...,65938921533442,1,NaN,mobile,40000,مونوپد یانگ تد خیلی تمیز و نو,NaN,NaN,Friday,05PM
947634,947634,True,NaN,personal,jewelry-and-watches,watches,Shiraz,جواب فقط تماس و. وات ساپ,18312774360687,1,NaN,mobile,25000,ساعت مارک,NaN,NaN,Friday,05PM

# •	استخراج الگوهای قرار دادن پست فروش  محصولات در شهرهای مختلف در دیتاست دیوار

In [27]:
groupby_cities = df.groupby(by = ['city'])
transactions_of_cities = []
cities =[]
for group, pdf in groupby_cities:
    transactions_of_cities.append(pdf['cat1'].values.tolist())
    cities.append(pdf['city'].tolist()[0])
    
print("number of cities:", len(transactions_of_cities))

print(transactions_of_cities[1][:20])

number of cities: 9
['electronic-devices', 'businesses', 'electronic-devices', 'for-the-home', 'personal', 'vehicles', 'vehicles', 'for-the-home', 'personal', 'vehicles', 'for-the-home', 'electronic-devices', 'businesses', 'for-the-home', 'for-the-home', 'for-the-home', 'vehicles', 'businesses', 'for-the-home', 'for-the-home']

In [28]:
ct = []
for ele in transactions_of_cities:
    ct.append(len(ele))

ctt = ct.copy()
ctt.sort()
top_ten_cities = []
for i in range(9):
    top_ten_cities.append(cities[ct.index(ctt[i])])
    print(ctt[i])
    print(top_ten_cities[-1])
    print()

23130
Kermanshah

32002
Qom

34014
Tabriz

47163
Ahvaz

61803
Isfahan

83736
Karaj

83970
Shiraz

138879
Mashhad

442938
Tehran

In [29]:
transactionsCities = []
for tr in transactions_of_cities:
    if len(tr) > 2:
        transactionsCities.append(tr)
    else:
        print("here")
print("total transactions      : ", len(transactions_of_cities))
print("cleaning for finding FP : ", len(transactionsCities))

total transactions      :  9
cleaning for finding FP :  9

In [30]:
df['cat1'].isnull().sum()

0

In [45]:
itemsets, rules = apriori(transactionsCities,min_support=0.9, min_confidence=0.9)

for key in range(1,3):
    print(itemsets[key] , "\n")

{('vehicles',): 9, ('for-the-home',): 9, ('personal',): 9, ('leisure-hobbies',): 9, ('electronic-devices',): 9, ('businesses',): 9}

{('businesses', 'electronic-devices'): 9, ('businesses', 'for-the-home'): 9, ('businesses', 'leisure-hobbies'): 9, ('businesses', 'personal'): 9, ('businesses', 'vehicles'): 9, ('electronic-devices', 'for-the-home'): 9, ('electronic-devices', 'leisure-hobbies'): 9, ('electronic-devices', 'personal'): 9, ('electronic-devices', 'vehicles'): 9, ('for-the-home', 'leisure-hobbies'): 9, ('for-the-home', 'personal'): 9, ('for-the-home', 'vehicles'): 9, ('leisure-hobbies', 'personal'): 9, ('leisure-hobbies', 'vehicles'): 9, ('personal', 'vehicles'): 9}

In [51]:
len(rules)

602

In [52]:
rules[:20]

[{electronic-devices} -> {businesses},
 {businesses} -> {electronic-devices},
 {for-the-home} -> {businesses},
 {businesses} -> {for-the-home},
 {leisure-hobbies} -> {businesses},
 {businesses} -> {leisure-hobbies},
 {personal} -> {businesses},
 {businesses} -> {personal},
 {vehicles} -> {businesses},
 {businesses} -> {vehicles},
 {for-the-home} -> {electronic-devices},
 {electronic-devices} -> {for-the-home},
 {leisure-hobbies} -> {electronic-devices},
 {electronic-devices} -> {leisure-hobbies},
 {personal} -> {electronic-devices},
 {electronic-devices} -> {personal},
 {vehicles} -> {electronic-devices},
 {electronic-devices} -> {vehicles},
 {leisure-hobbies} -> {for-the-home},
 {for-the-home} -> {leisure-hobbies}]

# 2.	استخراج الگوهای فروش محصولات مختلف در دیتاست دیجیکالا

In [53]:
groupby_customer = orders.groupby(by = ['ID_Customer'])

transactions_of_customers = []
for group, pdf in groupby_customer:
    transactions_of_customers.append(pdf['ID_Item'].values.tolist())

In [54]:
print("number of transactions:", len(transactions_of_customers))
transactions_of_customers[:10]

number of transactions: 151634

[[42545,
  361304,
  1523292,
  1671385,
  369749,
  1711488,
  5265,
  75068,
  80046,
  1771143,
  81692],
 [43418],
 [137418, 242763, 295740],
 [46854],
 [76901, 1390734, 87941],
 [2015151],
 [189732, 4631],
 [767994],
 [61363, 91566, 20173],
 [180116]]

In [55]:
transactions = []
for tr in transactions_of_customers:
    if len(tr) > 1:
        transactions.append(tr)
        
print("total transactions      : ", len(transactions_of_customers))
print("cleaning for finding FP : ", len(transactions))

total transactions      :  151634
cleaning for finding FP :  28700


## Frequent patterns with support_threshold 3

In [56]:
patterns = pyfpgrowth.find_frequent_patterns(transactions, 3)
{k: patterns[k] for k in list(patterns)[:20]}

{(369749,): 3,
 (189732,): 3,
 (114994,): 3,
 (175451,): 3,
 (22105,): 3,
 (66491,): 3,
 (43533,): 3,
 (134937,): 3,
 (1150874,): 3,
 (161233,): 3,
 (388826,): 3,
 (295644,): 3,
 (169960,): 3,
 (10373,): 3,
 (199429,): 3,
 (44445,): 3,
 (478445,): 3,
 (51734,): 3,
 (299504,): 3,
 (424039,): 3}

In [57]:
len(patterns)

5244

### Generate association rules with min confidence threshold 0.25

In [58]:
rules = pyfpgrowth.generate_association_rules(patterns, 0.25)
rules

{(875835,): ((294942,), 0.75),
 (31619,): ((294942,), 1.0),
 (388778,): ((104031,), 1.0),
 (90776,): ((12011,), 0.5),
 (12011, 12011): ((90776,), 1.0),
 (12011, 90776): ((), 1.0),
 (100245,): ((294942,), 0.375),
 (223359,): ((294942,), 0.3333333333333333),
 (434176,): ((), 0.5)}

In [59]:
best_seller_items = pyfpgrowth.find_frequent_patterns(transactions_of_customers, 100)
best_seller_items

{(164602,): 100,
 (254946,): 100,
 (43106,): 102,
 (479349,): 102,
 (137583,): 106,
 (44653,): 107,
 (295740,): 108,
 (54850,): 108,
 (128133,): 111,
 (163090,): 114,
 (82966,): 115,
 (94233,): 119,
 (143130,): 119,
 (20215,): 122,
 (245223,): 124,
 (77707,): 127,
 (12532,): 128,
 (129574,): 129,
 (118375,): 131,
 (294923,): 131,
 (42124,): 141,
 (7225,): 146,
 (153067,): 149,
 (294943,): 155,
 (22839,): 160,
 (19890,): 168,
 (416448,): 175,
 (8289,): 233,
 (45121,): 259,
 (51778,): 288,
 (36871,): 367,
 (294942,): 481}

# 3.	استخراج الگوهای مکرر میان روز انتشار پست و پلتفرم استفاده شده

In [60]:
groupby_day_platform = df.groupby(by = ['cat1'])
transactions_of_day_platform = []
for group, pdf in groupby_day_platform:
    transactions_of_day_platform.append(tuple(map(tuple,pdf[['day','platform']].values)))
print(transactions_of_day_platform[1][:20])

(('Wednesday', 'mobile'), ('Wednesday', 'mobile'), ('Wednesday', 'mobile'), ('Wednesday', 'mobile'), ('Wednesday', 'mobile'), ('Wednesday', 'mobile'), ('Thursday', 'mobile'), ('Thursday', 'mobile'), ('Friday', 'mobile'), ('Friday', 'mobile'), ('Friday', 'mobile'), ('Saturday', 'mobile'), ('Saturday', 'mobile'), ('Saturday', 'mobile'), ('Saturday', 'mobile'), ('Sunday', 'mobile'), ('Sunday', 'mobile'), ('Sunday', 'mobile'), ('Sunday', 'web'), ('Monday', 'mobile'))

In [61]:
transactionsDayPlatfrom = []
for tr in transactions_of_day_platform:
    if len(tr) > 1:
        transactionsDayPlatfrom.append(tr)
        
print("total transactions      : ", len(transactions_of_day_platform))
print("cleaning for finding FP : ", len(transactionsDayPlatfrom))

total transactions      :  6
cleaning for finding FP :  6

In [62]:
print(len(transactions_of_day_platform))

6

In [66]:
itemsets, rules = apriori(transactionsDayPlatfrom,min_support=0.9, min_confidence=0.8)
print("1: ",itemsets[1], "\n")

1:  {(('Wednesday', 'mobile'),): 6, (('Thursday', 'mobile'),): 6, (('Saturday', 'mobile'),): 6, (('Saturday', 'web'),): 6, (('Sunday', 'mobile'),): 6, (('Tuesday', 'mobile'),): 6, (('Friday', 'mobile'),): 6, (('Monday', 'web'),): 6, (('Monday', 'mobile'),): 6, (('Tuesday', 'web'),): 6, (('Wednesday', 'web'),): 6, (('Friday', 'web'),): 6, (('Sunday', 'web'),): 6, (('Thursday', 'web'),): 6}

#	۴. استخراج الگوهای مکرر برای محصول و پلتفرم استفاده شده

In [67]:
groupby_product_platform = df.groupby(by = ['city'])
transactions_of_product_platform = []
for group, pdf in groupby_product_platform:
    transactions_of_product_platform.append(tuple(map(tuple,pdf[['cat1','platform']].values)))
print(transactions_of_product_platform[1][:20])

(('electronic-devices', 'mobile'), ('businesses', 'mobile'), ('electronic-devices', 'mobile'), ('for-the-home', 'mobile'), ('personal', 'mobile'), ('vehicles', 'mobile'), ('vehicles', 'mobile'), ('for-the-home', 'web'), ('personal', 'mobile'), ('vehicles', 'mobile'), ('for-the-home', 'mobile'), ('electronic-devices', 'mobile'), ('businesses', 'mobile'), ('for-the-home', 'mobile'), ('for-the-home', 'mobile'), ('for-the-home', 'mobile'), ('vehicles', 'mobile'), ('businesses', 'mobile'), ('for-the-home', 'mobile'), ('for-the-home', 'web'))

In [68]:
print(len(transactions_of_product_platform))

9

In [69]:
transactionsProductPlatfrom = []
for tr in transactions_of_product_platform:
    if len(tr) > 1:
        transactionsProductPlatfrom.append(tr)
        
print("total transactions      : ", len(transactions_of_product_platform))
print("cleaning for finding FP : ", len(transactionsProductPlatfrom))

total transactions      :  9
cleaning for finding FP :  9

In [70]:
itemsets, rules = apriori(transactionsProductPlatfrom,min_support=0.8, min_confidence=0.8)
print("1: " ,itemsets[1])

1:  {(('vehicles', 'mobile'),): 9, (('for-the-home', 'mobile'),): 9, (('vehicles', 'web'),): 9, (('personal', 'mobile'),): 9, (('leisure-hobbies', 'mobile'),): 9, (('electronic-devices', 'mobile'),): 9, (('for-the-home', 'web'),): 9, (('businesses', 'mobile'),): 9, (('electronic-devices', 'web'),): 9, (('personal', 'web'),): 9, (('leisure-hobbies', 'web'),): 9, (('businesses', 'web'),): 9}

In [72]:
rules[:20]

[{('businesses', 'web')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('businesses', 'web')},
 {('electronic-devices', 'mobile')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('electronic-devices', 'mobile')},
 {('electronic-devices', 'web')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('electronic-devices', 'web')},
 {('for-the-home', 'mobile')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('for-the-home', 'mobile')},
 {('for-the-home', 'web')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('for-the-home', 'web')},
 {('leisure-hobbies', 'mobile')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('leisure-hobbies', 'mobile')},
 {('leisure-hobbies', 'web')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('leisure-hobbies', 'web')},
 {('personal', 'mobile')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('personal', 'mobile')},
 {('personal', 'web')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('personal', 'web')},
 {('vehicles', 'mobile')} -> {('businesses', 'mobile')},
 {('businesses', 'mobile')} -> {('vehicles', 'mobile')}]